.container{
    color: black;
}
.robot .container{
    position: relative;height: 680px;background-color: lightslategrey;margin-bottom: 2%;
}
.container .row{
    background-color: white;height: 50%;
}
.robot .container .row img{    height: 100%;
    width: 100%;
}
.robot .container .row button{    height: 100%;
    width: 100%;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
}
.movement{
    width: 75%;padding-top: 3%;margin-left: auto;margin-right: auto;
}

.movement .container .row button{    height: 100%;
    height: 30%;
    width: 100%;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
}
 .movement .container .row img{
    width: 100%;
    height: 40%;
 }

 .movement .container .row .col-6{
  padding-left: 0%;padding-right: 0%;
 }
 .movement .container .row .col-3{
    padding-left: 0%;padding-right: 0%;
   }
 .db{ height: 40% !important;
    margin-top: 86% !important;}
h1{margin-bottom: 5%;}

.rowH{height: auto !important;}